@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.disable-text-selection{
    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
 }